{% extends 'layouts/base.html' %}

{% block title %}
  Поступление
{% endblock %}

{% block content_title %}
  Список студентов:
{% endblock %}

{% block content %}
<hr>
{% if students.count > 0 %}
    <div class="row">
        {% for student in students %}
        <div class="col-4 product">
            <h1 class="navbar">{{ student.first_name }} {{ student.last_name }}</h1>

            <p>Почта: {{ student.email }}</p>
            <p>Специальность: {{ student.profession }}</p>
            <p>ИИН: {{ student.iin }}</p>
            {% if user.is_authenticated %}
              <p>
                <a class="btn btn-success" href="/product/update/{{ product.id }}/">
                  Назначенные задания
                </a> 
                <a class="btn btn-primary" href="/admin">Назначить задание</a>
              </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endif %}
<hr />
{% endblock %}
