{% extends 'layouts/base-lms.html' %}

{% block content_title %}
  Learning Management System
{% endblock %}

{% block content %}
<hr>
{% if students.count > 0 %}
    <div class="row">
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th scope="col">Студент</th>
              <th scope="col">Почта</th>
              <th scope="col">Специальность</th>
              <th scope="col">ИИН</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          {% for student in students %}
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">{{ student.first_name }} {{ student.last_name }}</th>
                <td>{{ student.email }}</td>
                <td>{{ student.profession }}</td>
                <td>{{ student.iin }}</td>
                <td>
                  <a class="link-primary" href="/students/{{ student.id }}/tasks/">Назначенные задания</a>
                  {% if user.is_authenticated %}
                    <br>
                    <a class="link-primary" href="/staff/educ_proc_manager/taskassignment/add/">Назначить задание</a>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
    </div>
{% endif %}
<hr />
{% endblock %}
